{% extends "layout.twig" %}

{% block content %}
    <h2>New User</h2>
    <p>
        <a class="btn btn-default" href="{{ 'admin/users' | url }}">Back</a>
    </p>
    {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for input, messages in errors %}
                    {% for message in messages %}
                        <li>{{ input }}: {{ message }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if result %}
        <div class="alert alert-success">User Saved!</div>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" name="name" id="inputName">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" name="email" id="inputEmail">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword">
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Save">
    </form>
{% endblock %}