{% extends "layout.twig" %}

{% block content %}
    <h2>Login</h2>
    {% if errors %}
        {% include('partials/errors.twig') %}
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" name="email" id="inputEmail">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" name="password" id="inputPassword">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Login" >
        </div>
    </form>
{% endblock %}